body{
    padding-top: 20px;
    font-family: 'Orbitron', sans-serif !important;
}

a{
    text-decoration: none !important;
}

.nav-justified{
    background-color: #eee;
    border-radius: 10px;
}
.nav-justified > li{
    padding: 10px 30px !important;
    color: #777;
    background-color: #e5e5e5;
}

.nav-justified > li:hover{
    color: rgb(156, 42, 42) !important;
    background-color: #232429;
}

.nav-justified > li:hover > a{
    color: rgb(255, 255, 255) !important;
}

.jumbotron{
    text-align: center;
    background-color: transparent !important;
}

.jumbotron .btn{
   padding: 10px 25px;
   font-size: 22px;
}

.centered{
    text-align: center;
} 
