body{
    font-family: 'Orbitron', sans-serif !important;
}

i{
    margin: 5px 15px;
}

.gray-color{
    background-color: rgba(255, 255, 255, 0.466);
}

.white-color{
    color: rgba(255, 255, 255, 0.418);
}
.side{
    background-color: #4e73df;
    /* padding-top: 20px 20px !important; */
}
.side .sidebar {
    padding: 10px 30px !important;
}
.first-side {
   padding-top: 20px
}

span {
    padding-bottom: 20px;
}
.side .sidebar > li {
    padding-bottom: 20px;
}
.side .sidebar > li > a {
    color: white !important;
}
.col-md-10{
    background-color:red;
}

.col-md-3{
    background-color:green;
}

/* saa */

.nav-left{
    padding-left: 0px !important;
} 
